view.new-url.animated.fast(
  wx:if="{{newUrl}}",
  class="{{!list || list.length === 0 ? 'fixed' : ''}} {{newUrlOut ? 'slideOutUp' : 'slideInDown'}}",
)
  text.h2 发现新连接
  view.summary
    view.url {{newUrl}}
    view.title(wx:if="{{newArticle}}") {{newArticle.title}}
    view.excerpt(wx:if="{{newArticle}}") {{newArticle.excerpt}}
    view.loading.sk-double-bounce(wx:else)
      view.sk-child.sk-double-bounce1
      view.sk-child.sk-double-bounce2

  view.actions
    button.add-button(
      disabled="{{isSaving}}",
      loading="{{isSaving}}",
      bindtap="doAdd",
    ) 转换语音
    button.cancel-button(
      bindtap="doCancel",
    ) 放弃

view.welcome(class!="{{!list || list.length === 0 ? '' : 'bg'}}")
  image(src="../../images/mic.png")
  text.h1 换听
  text.lead 帮你学习文章的好帮手

  block(
    wx:if="{{!logged}}",
  )
    button.login-button(
      open-type="getUserInfo",
      bindgetuserinfo="onGotUserInfo",
      disabled="{{isLogin}}",
      loading="{{isLogin}}",
    ) 登录
    text.hint 需要先授权登录才可以顺利使用哦~

  block(wx:elif="{{!list || list.length === 0}}")
    view.wizard-item.wizard-1 打开任意文章点击右上“…”
    view.wizard-item.wizard-2 点击“复制连接”
    view.wizard-item.wizard-3 进入“换听”小程序
    view.wizard-item.wizard-4 换听会自动帮您发现文章

view.listen-list(wx:if!="{{list && list.length > 0}}")
  view.listen-item(
    wx:for="{{list}}",
    wx:key="id",
    bindtap="doActive",
    data-index="{{index}}",
    class="{{item.isActive ? 'active' : ''}}",
  )
    view.header
      view.badge(wx:if="{{item.link.status === STATUS_READY}}") 转换中
      view.h1 {{item.link && item.link.title || item.url}}
    view.from 来源：{{item.source}}
    view.excerpt {{item.link && item.link.excerpt || ''}}
    view.player(wx:if="{{item.isActive}}")
      button.pause-button(
        wx:if="{{item.isPlaying}}",
        data-index="{{index}}",
        catchtap="doPause",
      )
         view.bar
         view.bar
      button.play-button(
        wx:else,
        data-index="{{index}}",
        catchtap="doPlay"
      )
        image(src="../../images/icon-play.png")

      view.play-info
        view.timer {{item.audioCurrent}}/{{item.audioDurationText}}
        view.progress
          view.progress-bar(style="width:{{item.percent}}%")
